* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.wrapper {
  background-color: lightgrey;
  width: 1000px;
  margin: auto;
}
header {
  width: 100%;
  height: 150px;
  background-color: pink;
}
.hero {
  width: 100%;
  height: 450px;
  background-color: yellow;
}
header, .hero {
  margin-bottom: 25px;
}
section {
  width: 100%;
  background-color: blue;
}
.box-titolo {
  width: 100%;
  height: 80px;
  background-color: lightblue;
}
