* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* contenitore principale centrato */
.wrapper {
  width: 1400px;
  margin: auto;
}
/* intestazione */
header {
  width: 100%;
  height: 150px;
  background-color: pink;
}

.hero {
  width: 100%;
  height: 450px;
  background-color: yellow;
}

header, .hero {
  margin-bottom: 25px;
}
/* sezione centrale  */

section {
  width: 100%;
  background-color: blue;
}

.box-titolo {
  width: 100%;
  height: 80px;
  background-color: lightblue;
  margin-bottom: 25px;
}

.row {
  width: 100%;
  height: 825px;
}

.col-left, .col-right {
  float: left;
  width: 25%;
  height: 800px;
  background-color: lightblue;
}

.col-center {
  float: left;
  height: 800px;
  width: 46%;
  background-color: lightblue;
  margin: 0 2%;
}

.clearfix::after {
  content: "";
  display: inline;
  clear: both;
}
/* end sezione centrale  */

footer {
  width: 100%;
  height: 100px;
  background-color: violet;
}
